<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search and Explore Platform</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
</head>
<body>
  <section class="section">
    <div class="columns">
      <div class="column is-one-third is-offset-one-third">
        <form  hx-get="/search" hx-target="#results">
          <input type="text" class="input" placeholder="Search" name="search_term"> <!-- Query Box -->
          <select name="scope" class="input" selected="all"> <!-- Query Scope -->
            <option value = "all">All</option> <!-- Search all columns -->
            {% for header in titles %} 
            <option value="{{ header }}">{{ header }}</option> <!-- Dynamically get the headers of whatever database -->
            {% endfor %}
          </select>
            <select name="sorted" class="input"> <!-- Query Sort -->
            {% for header in titles %}
            <option value="{{ header }}">{{ header }}</option> <!-- Dynamically get the headers of whatever database -->
            {% endfor %}
          </select>
            <input type="number" value="50" class="input" placeholder="Number of Rows" name="limit"> <!-- How many rows to return -->
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          {% for header in titles %}
          <th>{{ header }}</th>
          {% endfor %} 
        </tr>
      </thead>
      <tbody id="results"> <!-- -->
      </tbody>
    </table>
  </section>
</body>

</html>